 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }









  /* Large devices (desktops, 992px and up) */
  @media only screen and (min-width: 992px) and  (max-width:1200)  { 

  }



 /* Medium devices (tablets, 768px and up) */
 @media only screen and  (min-width: 768px) and (max-width:992px) {
       
    /* About us page */
.about-us{
    
    padding: 10px !important;
    width: 100%;
    height: auto;
    
}
.about-us h2{
    padding: 20px;
    font-size: 30px !important;
    font-weight:500;
    }

.about-us p{
        font-weight: 200;
        font-size: 18px;
        padding:  20px !important ;
    }

    .my-about{
        padding: 30px !important;
    }

.my-about h2{
font-size: 20px !important;
font-weight:600 !important ;
padding: 20px;

}
.my-about p{
    font-size: 20px;
    padding: 20px !important;
}
.card-1 .icon i{
    text-align:center ;
    font-size: 30px !important;

}



/* services page     */

.our-service-heading{
    padding: 20px;
}
.our-service-heading h1{
    font: bold;
}
.our-service
{
    width: 100%;
    height: 50vh;
    padding: 30px 0;
}
.our-service .card {
   
    width: 80px;
    height: 100px !important;
}
.our-service .card .card-img-top img{
    width: 100% !important;
  height: 80px !important;  padding: 0;
    margin: 0;
   
}
.our-service .card-body .card-title{
    font-weight: 500;
    font-size: 25px;
    color: black;
    
}
.our-service .card-body  .card-text{
    font-weight: 500;
    font-size: 15px;
}
.our-service .card-body a .btn{
    font-weight: 500;
    font-size: 15px;
   margin: 10px !important;
}

/* Home Page */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: rgb(226, 176, 50) !important;
    width: 100% !important;
    height: 15vh;
font-size: large !important;

}
.nav-link {
    font-size: 15px;
    font-weight: bold !important;
    text-transform: uppercase;
   color:black !important;
   justify-content: space-around;
    
}

.nav-link i{
    color: black ;
    font-size: 35px;
   
}
.carousel img{
    width: 80%;
    height: 50vh !important;
}
.carousel-item h5{
    font-family: cambria;
    font-weight: 600;
    font-size: 30px !important;
    color: white;
}
.carousel-item p{
    font-family: cambria;
    font-weight: 500;
    font-size: 10px !important;
    color: white;
}
.carousel-caption{
    background:linear-gradient(rgba(0, 0, 0, 0.377),rgba(0, 0, 0, 0.541)); 
    margin:  0 !important;
    
}





.fa-truck, .fa-phone , .fa-thumbs-o-up
{
    font-size: 35px !important;
    margin-right: 10px;
}
.main-card .card-1, .card-2 ,.card-3
{
    display: flex;
    width: 300px;
    height: 100px;
    background-color: fff;
    box-shadow: 2px 4px 5px color grey;
    justify-content:center ;
    align-items: center;
    margin-top: 10px;
}
.main-card {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.new-arrivals h1{
    font: bold;
    text-transform: uppercase;
    font-family: cambria;
    text-align: center;
}
.new-arrivals
{
    padding: 30px 0;
}
.new-arrivals .card {
   
}
.new-arrivals .card .card-img-top img{
    width: 100% !important;
    padding: 0;
    margin: 0;
   
}

.new-arrivals .card-body .card-title{
    font-weight: 500;
    font-size: 15px;
    color: black;
    text-align: center;
}
.new-arrivals .card-body  .card-text{
    font-weight: 500;
    font-size: 15px;
    color: black !important;
    text-align: center;
}
.new-arrivals .card-body a .btn{
    font-weight: 500;
    font-size: 15px;
    color: black;
   text-align: center;
   margin: 10px !important;
}
.new-arrivals .card-body a{
    margin: 0 20px;
 }





.Our-Bakery-items h1{
    font: bold;
    text-transform: uppercase;
    font-family: cambria;
    text-align: center;
}
.Our-Bakery-items
{
    padding:  0;
}
.Our-Bakery-items .card {
    width: 100%;
    height: auto;
}
.Our-Bakery-items .card .card-img-top img{
    width: 100% !important;
    height: 100px !important;
    padding: 0;
    margin: 0;
   
}

.Our-Bakery-items .card-body{
    width: 100%;
    height: 50px;
}
.Our-Bakery-items .card-body .card-title{
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}
.Our-Bakery-items .card-body  .card-text{
    font-weight: 500;
    font-size: 15px;
    color: black !important;
    text-align: center;
}

.Our-Bakery-items .card-body a{
   margin: 0 20px;
}
.Our-Bakery-items .card-body a .btn{
    font-weight: 500;
    font-size: 15px;
    color: black;
   text-align: center;
   margin: 0 10px !important;
}



.Footer-Company-Detail{
    
    width: 100%;
    padding: 30px 0;
}

.company-details h6{
color: white;
font-weight: 100 !important;
font-size: 25px;
padding: 20px 0 !important  ;
text-align: start;
margin: 0 !important;
}
.company-details ul{
   text-align: start;
    list-style: none;
    margin: 10px 0 !important;
}
.company-details ul a{
    color: white;
}

.company-details .iconlist li{
    list-style:none ;
    float: left !important;
    margin: 10px;
   

}

.company-details .iconlist i{
    color: white !important;
    padding: 12px 0;
    background-color: rgba(66, 65, 65, 0.986) !important;
}

.company-details .iconlist i:hover{
  
    padding: 12px;
}

.address{
   margin-left: 20px;

}


.address h6{
    
    color: white;
font-weight: 100 !important;
font-size: 25px;
padding: 20px 0;

}
.address li p{
    list-style: none;
    color: white;
    padding: 20px;
    font-size: 15px;
    margin: 15px;

    text-align: start;
}
.address li i{
    color: white;
    padding: 10px;
    margin: 0 10px;
    font-size: 18px;
    border-radius: 75px;
     background-color:rgba(66, 65, 65, 0.877) ;
}

.address button{
    padding: 10px 20px ;
    font-weight: 600;
    font-size: 10px;
    margin: 20px;
}


.footer-classic-panel {
    width: 100%;
    height: 20vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: #000;
    color: grey;
    padding: 30px;
    
  
    
}




/* contact page */

.body{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

#contact-section{
    background-size: cover;
    background-position: center;
    height:100%;
    width:100%;
    padding-bottom:2%;
    text-align: center;
}
#contact-section .container h2 {
text-align:center ;
text-decoration:underline ;
text-underline-position: under;

letter-spacing: 2px;
font-size: 35px;
padding-top: 10px;
}
#contact-section .container p{
    
    color: rgb(238, 235, 235);
    font-size: 25px !important;
    }
#content-section .container {
    text-align: start !important;
    width: 70%;
    margin: 0 !important;
    padding-bottom :3% ;
    color: #fff;
    letter-spacing :3% ;
}
.contact-form i{
font-size:22px ;
padding: 0;
background-color:none ;
/* margin:2% ; */
border:80% ;
cursor: pointer;
border: 2px solid white;
color: white;
}
.contact-form{ 
    display:grid ;
    grid-template-columns: auto;
}
.Form-Info{
font-size:16px ;
color: #fff;
letter-spacing: 2px;
}
.Form-Info span{
    text-align: start;
}
.contact-form input{
    padding:10px ;
    margin:10px ;
    width:70% ;
    background-color:rgba(136, 133 , 133, 0.5)  ;
    color: white ;
    border:none ;
    outline: none;
    font-weight: 600;
}
.contact-form input ::placeholder{
   color: white ;
}

.contact-form textarea{
    padding:10px ;
    margin:10px ;
    width:70% ;
    background-color:rgba(136,133,133,0.5) ;
    color: white;
    border:none ;
    outline: none;
    resize: none;
}


.contact-form .submit{
width: 40%;
padding: 4px;

font-size: 13px;
font-weight:bold ;
letter-spacing: 2px;
height: 33px;
text-align:center ;
letter-spacing:2px ;
margin: 3%;
}



 }


































/* Small devices (landscape phones, 576px and up) */
@media only screen and  (min-width: 576px) and (max-width:768) { 
  
    
    /* About us page */
.about-us{
    
    padding: 20px !important;
    width: 100%;
    height: auto;
    
}
.about-us h2{
    padding: 20px;
    font-size: 15px !important;
    font-weight:500;
    }

.about-us p{
        font-weight: 200;
        font-size: 18px;
        padding:  20px !important ;
    }

    .my-about{
        padding: 30px !important;
    }

.my-about h2{
font-size: 20px !important;
font-weight:600 !important ;
padding: 20px;

}
.my-about p{
    font-size: 20px;
    padding: 20px !important;
}
.card-1 .icon i{
    text-align:center ;
    font-size: 30px !important;

}



/* services page     */

.our-service-heading{
    padding: 20px;
}
.our-service-heading h1{
    font: bold;
}
.our-service
{
    padding: 30px 0;
}
.our-service .card {
   
    width: 80px;
    height: 40px !important;
}
.our-service .card .card-img-top img{
    width: 50px !important;
  height: 50px !important;  padding: 0;
    margin: 0;
   
}
.our-service .card-body .card-title{
    font-weight: 500;
    font-size: 15px;
    
}
.our-service .card-body  .card-text{
    font-weight: 500;
    font-size: 15px;
}
.our-service .card-body a .btn{
    font-weight: 500;
    font-size: 15px;
   margin: 10px !important;
}

/* Home Page */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: rgb(226, 176, 50) !important;
    width: 100% !important;
    height: 15vh;
font-size: large !important;

}
.nav-link {
    font-size: 15px;
    font-weight: bold !important;
    text-transform: uppercase;
   color:black !important;
   justify-content: space-around;
    
}

.nav-link i{
    color: black ;
    font-size: 35px;
   
}
.carousel img{
    width: 80%;
    height: 50vh !important;
}
.carousel-item h5{
    font-family: cambria;
    font-weight: 600;
    font-size: 30px !important;
    color: white;
}
.carousel-item p{
    font-family: cambria;
    font-weight: 500;
    font-size: 10px !important;
    color: white;
}
.carousel-caption{
    background:linear-gradient(rgba(0, 0, 0, 0.377),rgba(0, 0, 0, 0.541)); 
    margin:  0 !important;
    
}





.fa-truck, .fa-phone , .fa-thumbs-o-up
{
    font-size: 35px !important;
    margin-right: 10px;
}
.main-card .card-1, .card-2 ,.card-3
{
    display: flex;
    width: 300px;
    height: 100px;
    background-color: fff;
    box-shadow: 2px 4px 5px color grey;
    justify-content:center ;
    align-items: center;
    margin-top: 10px;
}
.main-card {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.new-arrivals h1{
    font: bold;
    text-transform: uppercase;
    font-family: cambria;
    text-align: center;
}
.new-arrivals
{
    padding: 30px 0;
}
.new-arrivals .card {
   
}
.new-arrivals .card .card-img-top img{
    width: 100% !important;
    padding: 0;
    margin: 0;
   
}

.new-arrivals .card-body .card-title{
    font-weight: 500;
    font-size: 15px;
    color: black;
    text-align: center;
}
.new-arrivals .card-body  .card-text{
    font-weight: 500;
    font-size: 15px;
    color: black !important;
    text-align: center;
}
.new-arrivals .card-body a .btn{
    font-weight: 500;
    font-size: 15px;
    color: black;
   text-align: center;
   margin: 10px !important;
}
.new-arrivals .card-body a{
    margin: 0 20px;
 }





.Our-Bakery-items h1{
    font: bold;
    text-transform: uppercase;
    font-family: cambria;
    text-align: center;
}
.Our-Bakery-items
{
    padding:  0;
}
.Our-Bakery-items .card {
    width: 100%;
    height: auto;
}
.Our-Bakery-items .card .card-img-top img{
    width: 100% !important;
    height: 100px !important;
    padding: 0;
    margin: 0;
   
}

.Our-Bakery-items .card-body{
    width: 100%;
    height: 50px;
}
.Our-Bakery-items .card-body .card-title{
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}
.Our-Bakery-items .card-body  .card-text{
    font-weight: 500;
    font-size: 15px;
    color: black !important;
    text-align: center;
}

.Our-Bakery-items .card-body a{
   margin: 0 20px;
}
.Our-Bakery-items .card-body a .btn{
    font-weight: 500;
    font-size: 15px;
    color: black;
   text-align: center;
   margin: 0 10px !important;
}



.Footer-Company-Detail{
    
    width: 100%;
    padding: 30px 0;
}

.company-details h6{
color: white;
font-weight: 100 !important;
font-size: 25px;
padding: 20px  ;
text-align: center;
margin: 0 20px;
}
.company-details ul{
   text-align: start;
    list-style: none;
    margin: 0 !important;
}
.company-details ul a{
    color: white;
}

.company-details .iconlist li{
    list-style:none ;
    float: left !important;
   

}

.company-details .iconlist i{
    color: white !important;
    padding: 12px 0;
    background-color: rgba(66, 65, 65, 0.986) !important;
}

.company-details .iconlist i:hover{
  
    padding: 12px;
}

.address{
    text-align: center;

}


.address h6{
    
    color: white;
font-weight: 100 !important;
font-size: 25px;
padding: 20px 0;

}
.address li p{
    list-style: none;
    color: white;
    padding-left: 10px;
    font-size: 15px;

    text-align: center;
}
.address li i{
    color: white;
    padding: 10px;
    margin: 0 10px;
    font-size: 18px;
    border-radius: 75px;
     background-color:rgba(66, 65, 65, 0.877) ;
}

.address button{
    padding: 20px 30px ;
    color: white;
    background-color: rgb(16, 16, 138);
    text-transform: uppercase;
    border: none;
    font-weight: 600;
    font-size: 12px;
    margin: 20px;
}


.footer-classic-panel {
    width: 100%;
    height: 20vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: #000;
    color: grey;
    padding: 30px;
    
  
    
}




/* contact page */

.body{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

#contact-section{
    background-size: cover;
    background-position: center;
    height:100%;
    width:100%;
    padding-bottom:2%;
    text-align: center;
}
#contact-section .container h2 {
text-align:center ;
text-decoration:underline ;
text-underline-position: under;

letter-spacing: 2px;
font-size: 35px;
padding-top: 10px;
}
#contact-section .container p{
    
    color: rgb(238, 235, 235);
    font-size: 5px !important;
    }
#content-section .container {
    text-align:center ;
    width: 70%;
    margin-left: auto;
    margin-right:auto ;
    padding-bottom :3% ;
    color: #fff;
    letter-spacing :3% ;
}
.contact-form i{
font-size:22px ;
padding: 3%;
background-color:none ;
margin:2% ;
border:80% ;
cursor: pointer;
border: 2px solid white;
color: white;
}
.contact-form{ 
    display:grid ;
    grid-template-columns: auto;
}
.Form-Info{
font-size:16px ;
color: #fff;
letter-spacing: 2px;
}
.contact-form input{
    padding:10px ;
    margin:10px ;
    width:70% ;
    background-color:rgba(136, 133 , 133, 0.5)  ;
    color: white ;
    border:none ;
    outline: none;
    font-weight: 600;
}
.contact-form input ::placeholder{
   color: white ;
}

.contact-form textarea{
    padding:10px ;
    margin:10px ;
    width:70% ;
    background-color:rgba(136,133,133,0.5) ;
    color: white;
    border:none ;
    outline: none;
    resize: none;
}


.contact-form .submit{
width: 40%;
padding: 4px;

font-size: 13px;
font-weight:bold ;
letter-spacing: 2px;
height: 33px;
text-align:center ;
letter-spacing:2px ;
margin: 3%;
}










}
